.navigation__checkbox {
  display: none;
  transform: all 0.5s;
}

.para {
  left: 25%;
  font-size: 2.5rem;
}

.navigation {
  flex-direction: column;
  align-items: center;
  /* line-height: ; */
  transition: all 1s;
  /* width: 100%; */
}

.logo h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.aboute-me {
  display: flex;
  flex-direction: column;
}

.aboute-me img {
  display: block;
}

.img::before {
  content: "";
  position: absolute;
  /* display: block; */
  z-index: -1;
  width: 55%;
  height: 42%;
  left: 6rem;
  top: 6.5rem;
  background-image: url(../img/dots.png);
}

.bio {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.cv {
  display: inline-block;
  width: 27%;
  text-align: center;
}

.bio-txt {
  display: block;
  position: relative;
  padding: 1rem 0;

  font-size: 1.5rem;
  color: #a2b7c3;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;

  /* top: -6rem; */
}

.box-port .images {
  width: 100%;
  margin: 1rem 1rem;
  border-radius: 5px;
  /* animation: picFade 0.5s ease; */
}

.box-port::after {
  width: 91%;
  height: 89%;
}

.blog-box {
  width: 40vh;
}

.blog-img img {
  width: 40vh;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 80%;
}

.contact-container {
  display: flex;
  /* position: relative; */
  flex-direction: column;

  justify-content: space-around;
  /* padding: 6rem 0; */
}

.contact-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* CONTACT FORM */
.contact-form {
  position: relative;
  left: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* position: relative; */
}

.contact-add {
  display: none;
}

.contact-form input {
  display: flex;
  position: relative;
  right: 5rem;
  width: 200%;
}

.text-row {
  display: flex;
  position: relative;
  left: 4.4rem;
  width: 200%;
  /* width: 100%; */
}

.button {
  position: relative;
  display: flex;
  width: 100%;
  left: 5rem;
  border-radius: 5px;
  padding: 8px;
  transition: all 0.3s;
  border: 1px solid #1c1c1c;
  font-family: poppins;
  font-size: 12px;
  top: -1rem;
  background-color: #111;
  color: white;
}

.button:hover {
  background-color: white;
  color: #000a11;
}
